.jogo-area{
    height: 240px;
    width: 170px;
    border: 1px solid black;
    position: relative;
    float: left;
    text-align: center;
    padding-top:10px;
}

.jumbotron{
    padding: 1rem 1rem;
    margin-bottom: 0.3rem;
}

#content-page{
    margin:40px;
}